@use '/styles/use/color';

.header {
  padding: 30px 0;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.05), inset 0px -5px 15px rgba(255, 255, 255, 0.44);
  margin-bottom: 75px;

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .logo {
    transition: opacity 300ms;

    &:hover {
      opacity: .8;
    }
  }

  &_top__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .phone {
    display: flex;
    align-items: center;
    color: color.$gray;
    font-size: 18px;
    transition: all 300ms;

    svg {
      margin-right: 10px;
      path {
        transition: all 300ms
      }
    }

    &:hover {
      color: color.$green;

      svg {
        path {
          fill: color.$green;
        }
      }
    }
  }

  &_top__right__btns {
    margin-left: 60px;
    display: flex;
    align-items: center;
    column-gap: 15px;

    button {
      svg {
        path {
          transition: all 300ms
        }

        margin-right: 10px;
      }

      &:hover {
        color: color.$green;

        svg path {
          fill: color.$green;
        }
      }
    }
  }

  .cart {
    position: relative;

    span {
      position: absolute;
      background-color: color.$green;
      width: 20px;
      line-height: 20px;
      color: #fff;
      font-size: 12px;
      border-radius: 50%;
      right: -5px;
      top: -5px;
    }
  }

  &_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_bottom__menu {
    display: flex;
    align-items: center;
    column-gap: 40px;

    button, a {
      color: color.$gray;
      transition: color 300ms;

      &:hover {
        color: color.$green;
      }
    }
  }

  .catalog {
    display: flex;
    align-items: center;
    column-gap: 5px;

    svg {
      margin-top: 3px;
      path {
        transition: all 300ms
      }
    }

    &:hover {
      color: color.$green;

      svg path {
        fill: color.$green;
      }
    }
  }

  .form_search {
    position: relative;
    height: 54px;
    max-width: 345px;
    width: 100%;

    input {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      padding-left: 20px;
      padding-right: 100px;
      border: 1px solid #BDBDBD;
      background-color: #F2F2F2;
      outline: none;

      &:focus + button svg path{
        fill: color.$green;
      }
    }

    button {
      position: absolute;
      right: 20px;
      top: 0;
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg path{
        transition: fill 400ms;
      }
    }
  }
}